<%= render 'layouts/headers/logged_out_header' %>
<section class="top left">
  <div class="container">
    <%= form_for "send_password_reset" do |f| %>
        <fieldset>
          <div class="controls col-xs-12">
            <h1>Reset your password</h1>
            <br>

            <h3>Enter your email address and we'll send you an email with instructions to reset your password.</h3>
            <br>
          </div>

          <div class="control-group margin-top-8">
            <div class="controls col-xs-12 col-sm-8 col-md-6">
              <%= f.text_field :email, :class => "form-control", :placeholder => "your@email.com" %>
            </div>
          </div>

          <div class="control-group col-xs-12 margin-top-8">
            <br>

            <div class="controls">
              <%= f.submit "Request password reset", :class => "btn btn-primary" %>
            </div>
          </div>
        </fieldset>
    <% end %>
  </div>
</section>
<%= render 'modals/login_register' %>
