<%= render 'layouts/headers/landing_header' %>
<div class="background-wrapper" data-background-image-path="assets/background_images/iron_ocean_home_background.jpeg">
  <div class="container spinner-wrapper">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
  </div>
  <div class="js-background-curtain">
    <div class="background-sizing">
      <img src="#" class="background-image">
    </div>

    <div class="blackLayer">

      <section id="intro" class="intro-section">
        <%= session[:id] %>
        <%= render 'root/content/intro' %>
      </section>
      <!-- Services Section -->
      <section id="services" class="services-section">
        <%= render 'root/content/products' %>
      </section>
      <!-- About Section -->
      <section id="about" class="about-section">
        <%= render 'root/content/about' %>
      </section>
      <!-- Contact Section -->
      <section id="contact" class="contact-section">
        <%= render 'root/content/contact' %>
      </section>

    </div>
  </div>
</div>
<%= render 'modals/login_register' %>