<!-- Modal -->
<div class="modal fade login-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <br>
      <div class="bs-example bs-example-tabs">
        <ul id="myTab" class="nav nav-tabs">
          <li class="active col-md-4t"><a href="#signin" data-toggle="tab">Sign In</a></li>
          <li class="col-md-4t"><a href="#signup" data-toggle="tab">Register</a></li>
          <li class="col-md-4t"><a href="#why" data-toggle="tab">Why?</a></li>
        </ul>
      </div>
      <div class="modal-body">
        <div id="myTabContent" class="tab-content">

          <div class="tab-pane fade in" id="why">
            <p>We need this information so that we can send you the compensations associated with your complete an evaluations. Rest assured your
              information will not be sold, traded, or given to anyone.</p>
            <br> Please contact <a href="mailto:gfrase08@gmail.com">Garret Frase</a>
            for any other inquiries.</p>

          </div>

          <div class="tab-pane fade active in" id="signin">
            <!-- Sign In Form -->
            <%= form_for :user, as: :post, url: login_path(:users), html: { class: 'loginForm'} do |f| %>
                <fieldset>
                  <div class="control-group col-xs-12">
                    <label class="control-label" for="email">Email:</label>
                    <div class="controls">
                      <%= f.text_field :email, :class => "form-control", :placeholder => "Email" %>
                    </div>
                  </div>

                  <div class="control-group col-xs-12">
                    <label class="control-label" for="password">Password:</label>
                    <div class="controls">
                      <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
                    </div>
                  </div>

                  <div class="control-group col-xs-12">
                    <label class="control-label" for="signin"></label>
                    <div class="controls">
                      <%= f.submit "Login", :class => "btn btn-primary login-submit" %>
                    </div>
                  </div>
                </fieldset>
            <% end %>

          </div>

          <div class="tab-pane fade" id="signup">
            <%= render 'users/form' %>
            <!-- Sign Up Form -->
            <%= form_for :user, as: :post, url: login_path(:users), html: { class: 'loginForm'} do |f| %>
                <fieldset>
                  <div class="control-group col-xs-12">
                    <label class="control-label" for="email">Email:</label>
                    <div class="controls">
                      <%= f.text_field :email, :class => "form-control", :placeholder => "Email", stlye: "autofocuse"%>
                    </div>
                  </div>

                  <div class="control-group col-xs-12">
                    <label class="control-label" for="password">Password:</label>
                    <div class="controls">
                      <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
                    </div>
                  </div>

                  <div class="control-group col-xs-12">
                    <label class="control-label" for="signin"></label>
                    <div class="controls">
                      <%= f.submit "Login", :class => "btn btn-primary login-submit" %>
                    </div>
                  </div>
                </fieldset>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <center>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>